<launch>
  <!-- Name of the node -->
  <arg name="eskf_node" default="attitude_eskf"/>

  <!-- IMU topic to use -->
  <arg name="imu_topic" default="/imu/imu"/>

  <!-- Magnetic field topic to use, must be synchronized w/ IMU -->
  <arg name="field_topic" default="/imu/magnetic_field"/>

  <!-- Enable magnetometer -->
  <arg name="enable_magnetometer" default="true"/>

  <!-- Calibrate magnetometer on launch -->
  <arg name="calibrate_magnetometer" default="none"/>

  <arg name="gyro_bias_thresh" default="0.01"/>

  <node pkg="kr_attitude_eskf" name="$(arg eskf_node)" type="kr_attitude_eskf" output="screen">
    <param name="enable_magnetometer" type="bool" value="$(arg enable_magnetometer)"/>
    <param name="calibrate_magnetometer" type="string" value="$(arg calibrate_magnetometer)"/>
    <param name="gyro_bias_thresh" type="double" value="$(arg gyro_bias_thresh)"/>

    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~field" to="$(arg field_topic)"/>
  </node>

</launch>
