<launch>
  <!-- Name of the node -->
  <arg name="eskf_node" default="attitude_eskf"/>

  <!-- IMU topic to use -->
  <arg name="imu_topic" default="/imu/imu"/>

  <!-- Magnetic field topic to use, must be synchronized w/ IMU -->
  <arg name="field_topic" default="/imu/magnetic_field"/>

  <!-- Enable magnetometer -->
  <arg name="enable_magnetometer" default="false"/>

  <!-- Calibrate magnetometer on launch -->
  <arg name="calibrate_magnetometer" default="none"/>

  <!-- Parameters for ESKF -->
  <arg name="param_file" default="$(find kr_attitude_eskf)/config/params.yaml"/>

  <node pkg="kr_attitude_eskf" name="$(arg eskf_node)" type="kr_attitude_eskf" output="screen">
    <param name="enable_magnetometer" type="bool" value="$(arg enable_magnetometer)"/>
    <param name="calibrate_magnetometer" type="string" value="$(arg calibrate_magnetometer)"/>

    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~field" to="$(arg field_topic)"/>

    <rosparam file="$(arg param_file)"/>
  </node>

</launch>
